{% extends 'app/modelogato.html' %}
{% load static %}
{% block contenido %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Bienvenidos a la seccion Gato <br>
            Aqui encontraras productos y accesorios
        </h1>
        <p></p>
    </div>
</div>

<ul class="nav nav-pills">
    <li class="nav-item col-md-2 col-sm-1">
      <a class="nav-link active" href="collargatos.html">Medallas</a>
    </li>
    <li class="nav-item col-md-2 col-sm-6">
        <a class="nav-link active" href="correagatos.html">Correas</a>
      </li>
      <li class="nav-item col-md-2 col-sm-6">
        <a class="nav-link active" href="bandanagatos.html">Bandanas</a>
      </li>
      <li class="nav-item col-md-2 col-sm-6">
        <a class="nav-link active" href="camasgatos.html">Casas</a>
      </li>
      <li class="nav-item col-md-2 col-sm-6">
        <a class="nav-link active" href="comidagatos.html">Comida para gatos</a>
      </li>
      <li class="nav-item col-md-2 col-sm-6">
        <a class="nav-link active" href="accesoriosgatos.html">accesorios</a>
      </li>
   </ul>

   <br>
   <br>

  <br>
  <br>


<div class="container mt-100">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img
                                src="https://www.gatostienda.es/pics/2021/02/09/jinlaili-20pcs-campanas-de-colores-cascabeles-para-collar-de-gato-campanas-de-mascotas-para-gatos-y-perros-cascabeles-decorativos-para-el-hogar-cam-32445.jpg"
                                alt="Category" width="200"></div>
                        <div class="thumblist"><img
                                src="https://m.media-amazon.com/images/I/818PV7hO3WS._AC_UX385_.jpg"
                                alt="Category" width="100"><img
                                src="https://images-na.ssl-images-amazon.com/images/I/71b3-k3OMzS._AC_UL330_SR330,330_.jpg"
                                alt="Category" width="100"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Variedad Cascabeles Para Gatos</h4>
                    <p class="text-muted">Precios desde $1.990</p><a class="btn btn-outline-primary btn-sm" href="#"
                        data-abc="true">Ver Productos</a>
                        <br>  
                        <br>
                        
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img
                                src="https://m.media-amazon.com/images/I/81-mR8W6RqS._AC_SX466_.jpg"
                                alt="Category" width="144"></div>
                        <div class="thumblist"><img
                                src="https://image.dhgate.com/0x0s/f2-albu-g16-M00-08-A7-rBVa4F_5FHiADgNaAAFttjPx-pU373.jpg/perro-gato-bandana-collar-plaid-accesorios.jpg"
                                alt="Category" width="150"><img
                                src="https://cf.shopee.cl/file/605e30633628de0942d20f79ea4f870d"
                                alt="Category" width="150"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Variedad Bandanas Para Gatitos</h4>
                    <p class="text-muted">Precios desde $3.990</p><a class="btn btn-outline-primary btn-sm" href="#"
                        data-abc="true">Ver Productos</a>
                        <br>  
                        <br>
                        
                </div>
            </div>
            <br>
        </div>

        


        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img
                                src="https://m.media-amazon.com/images/I/71uhmUabWRS._AC_SX466_.jpg"
                                alt="Category" width="149"></div>
                        <div class="thumblist"><img
                                src="https://jumbo.vteximg.com.br/arquivos/ids/321980/Arena-para-gato-Traper-4-kg-1-26321765.jpg?v=637136046954300000"
                                alt="Category" width="100"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_908377-MLC31895517002_082019-O.jpg" alt="Category"
                                width="100"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Variedad Arena Para Gatos</h4>
                    <p class="text-muted">Precios desde $12.990</p><a class="btn btn-outline-primary btn-sm" href="#"
                        data-abc="true">Ver Productos</a>
                        <br>  
                        <br>
                        
                </div>
            </div>
        </div>
    </div>
</div>





<br>





<div class="container mt-100">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img
                                src="https://jumbo.vteximg.com.br/arquivos/ids/459625/Alimento-humedo-gato-sensaciones-de-atun-en-salsa-85-g.jpg?v=637710316153030000"
                                alt="Category" width="230"></div>
                        <div class="thumblist"><img
                                src="https://dojiw2m9tvv09.cloudfront.net/11787/product/equilibrio-gatos-castrados-hairball9214.jpg"
                                alt="Category" width="100"><img
                                src="https://jumbo.vteximg.com.br/arquivos/ids/338717/Principal-1970.jpg?v=637254236983500000"
                                alt="Category" width="100"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Variedad Comida Para Gatos</h4>
                    <p class="text-muted">Precios desde $3.999</p><a class="btn btn-outline-primary btn-sm" href="#"
                        data-abc="true">Ver Productos</a>
                        <br>  
                        <br>
                        
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img
                                src="https://www.amigales.cl/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/t/r/trixie_arnes_a.jpg"
                                alt="Category" width="226"></div>
                        <div class="thumblist"><img
                                src="https://cf.shopee.cl/file/425a5ee8f8c69383d6dfb080b65baebe"
                                alt="Category" width="120"><img
                                src="https://dojiw2m9tvv09.cloudfront.net/11787/product/pawisearnescontrailla116008.jpg"
                                alt="Category" width="110"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Variedad Arnes Para Gatos</h4>
                    <p class="text-muted">Precios desde $5.990</p><a class="btn btn-outline-primary btn-sm" href="#"
                        data-abc="true">Ver Productos</a>
                        <br>  
                        <br>
                        
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
                    <div class="inner">
                        <div class="main-img"><img
                                src="https://lh6.googleusercontent.com/8O9h0T2i8FezxFSvk8MaG5SsQtypz42dIZeVNVDag6BkPqEKFMw_ezuI-q0-AC_Z7no6dwNznUIeQ3K_OsP30IuVm0Bsk-N2RzOz44FQyXbR6ExYsn5O1_F5_Dju4bUtxl3rNHP2"
                                alt="Category" width="193"></div>
                        <div class="thumblist"><img
                                src="https://felinus.cl/42-large_default/sinpuldry-antipulgas-en-polvo-para-gatos.jpg"
                                alt="Category" width="140"><img
                                src="https://ripleycl.imgix.net/https%3A%2F%2Fs3.amazonaws.com%2Fimagenes-sellers-mercado-ripley%2F2022%2F01%2F29132854%2Fcollar-eco_1.jpg?w=750&h=555&ch=Width&auto=format&cs=strip&bg=FFFFFF&q=60&trimcolor=FFFFFF&trim=color&fit=fillmax&ixlib=js-1.1.0&s=f89cf7e123e308f34f739492f370fccc" alt="Category"
                                width="140"></div>
                    </div>
                </a>
                <div class="card-body text-center">
                    <h4 class="card-title">Variedad Anti Pulgas Para Gatos</h4>
                    <p class="text-muted">Precios desde $10.990</p><a class="btn btn-outline-primary btn-sm" href="#"
                        data-abc="true">Ver Productos</a>
                        <br>  
                        <br>
                        
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}